<% avatar = @person.avatar %> 
<p id="notice" class=<%= notice ? "success" : ""%>>
  <%= notice %>
</p>

<div class="ui card">
  <div class="image">
    <image  
      alt="user avatar"
      src="https://robohash.org/<%= avatar %>?set=3"
      />
  </div>
  <div class="content">
    <p class="header">
      <%= @person.first_name %> <%= @person.last_name %>
    </p>
    <div class="description">
      <%= @person.email %>
    </div>
  </div>
  <div class="extra content">
    <%= link_to "edit", edit_person_path(@person) %>
    |
    <%= link_to "Back", people_path %>
  </div>
</div>



<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @person.avatar %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
